@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &__menu
      width: 480px
    &__button
      width: 200px
      font-size: 12px
      line-height: 16px
  .background
    height: 625px
  .hero
    &-recommendations
      &__item
        height: 120px
  .features
    &-wrapper
      padding: 25px 0 30px
  .feature
    padding-left: 16px
    padding-right: 16px
    &__title
      width: 140px
      margin: 0 10px 0 0
      font-size: 13px
      line-height: 18px
    &__image
      width: 55px
      height: 55px
@media (max-width: 992px)
  .container
    max-width: 720px
  .header
    &__logo
      width: 120px
    &__menu
      width: 380px
      font-size: 12px
      line-height: 15px
    &__button
      width: 130px
      font-size: 10px
      line-height: 12px
      &:hover
        background-color: #656B70
        font-weight: 400
  .menu
    &__link
      &:hover
        text-decoration: none
  .background
    height: 530px
  .hero
    padding: 15px 0
    &-article
      padding: 30px 0 0 30px
    &-info
      &__title
        font-size: 34px
        line-height: 42px
      &__button
        &:hover
          background-color: $button-color
    &-recommendations
      &__title
        padding: 0 20px
        font-size: 12px
        line-height: 18px
      &__item
        height: 100px
        padding: 15px 18px 15px
        &:hover
          background-color: #ffffff
      &__article-title
        font-size: 11px
        line-height: 13px
      &__text
        font-size: 12px
        line-height: 18px
  .features
    &-wrapper
      flex-wrap: wrap
      padding: 15px 0 20px
  .feature
    width: 50%
    padding-top: 8px
    padding-bottom: 8px
    &:nth-child(2)
      border-right: none
    &__title
      width: 200px
      font-size: 14px
      line-height: 20px
    &__image
      width: 60px
      height: 60px
@media (max-width: 767px)
  .container
    max-width: 576px
  .header
    &__menu
      display: none
      &-button
        display: flex
    &__button
      display: none
  .hero
    &-article
      padding: 20px 0 0 20px
    &-author
      &__avatar
        width: 35px
        height: 35px
      &__name
        font-size: 13px
        line-height: 17px
      &__description
        font-size: 11px
        line-height: 13px
    &-info
      padding-top: 170px
      &__title
        font-size: 26px
        line-height: 36px
        margin-bottom: 85px
      &__button
        padding: 8px 0
        width: 140px
        font-size: 12px
        line-height: 18px
  .features
    &-wrapper
      padding: 12px 0 17px
  .feature
    padding-top: 7px
    padding-bottom: 7px
    &__title
      width: 180px
      font-size: 13px
      line-height: 20px
    &__image
      width: 55px
      height: 55px
@media (max-width: 576px)
  .container
    max-width: 88%
  .background
    height: 625px
  .hero
    margin-top: 50px
    &-wrapper
      flex-direction: column
    &-article
      width: 100%
      padding-bottom: 30px
    &-info
      padding-top: 30px
      &__language
        font-size: 10px
        line-height: 13px
      &__title
        margin-top: 16px
        margin-bottom: 35px
    &-recommendations
      width: 100%
      &__item
        height: 70px
  .features
    &-wrapper
      padding: 12px 20px 17px
  .feature
    width: 100%
    display: flex
    justify-content: space-between
    &:nth-child(n)
      border-right: none
    &__title
      width: 65%
    &__image
      width: 55px
      height: 55px
@media (max-width: 575px)
  .container
    max-width: 88%
  .header
    &__logo
      width: 100px
    &-wrapper
      height: 50px
  .background
    height: 735px
  .hero
    &-info
      &__title
        font-size: 22px
        line-height: 30px
      &__button
        padding: 7px 0
        width: 120px
        font-size: 10px
        line-height: 15px
    &-recommendations
      &__title
        margin-top: 15px
        margin-bottom: 15px
      &__item
        height: 90px
  .features
    &-wrapper
      padding: 12px 0 17px
  .feature
    &__title
      font-size: 12px
      line-height: 18px
