.header
  background-color: $back-color
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
  &__menu
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none
    width: 540px
    font-family: $lato-900
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
  &__button
    padding-top: 10px
    padding-bottom: 10px
    width: 261px
    color: #ffffff
    text-transform: uppercase
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    background-color: #656B70
    border-radius: 10px
    border: none
    cursor: pointer
    &:hover
      background-color: $grey-85
      font-family: $lato-700
      font-weight: 700
.menu
  &__link
    color: #ffffff
    text-decoration: none
    &:hover
      text-decoration: underline
